openapi: 3.0.0
info:
  title: Bankwest Payment Gateway (REST-JSON)
  version: v51
servers:
- url: https://bankwest.gateway.mastercard.com/api/rest/version/51
security:
- http_basic: []

paths:
  "/information":
    parameters: []
    get:
      security: []
      responses: {}
  "/merchant/{merchantId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/3DSecureId/{3DSecureId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: 3DSecureId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutDeleteConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutWalletStatus":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/balanceInquiry":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/batch":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/checkoutWalletStatus":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/merchantTestHostType":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}/transaction/{transactionid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    - in: path
      name: transactionid
      required: true
      schema:
        type: string
    get:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/pair":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/paymentOptionsInquiry":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/paymentPlan/{planId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: planId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/session":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/session/{sessionId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/token":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/token/{tokenid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: tokenid
      required: true
      schema:
        type: string
    delete:
      responses: {}
    get:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/tokenSearch":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/visaCheckoutConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/visaCheckoutDetails":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletOptions":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}

components:
  securitySchemes:
    http_basic:
      type: http
      scheme: basic
      description: Basic HTTP authentication as described at [w3.org](https://www.w3.org/Protocols/HTTP/1.0/spec.html#BasicAA). Provide 'merchant.<your gateway merchant ID>' in the userid portion and your API password in the password portion.
