openapi: 3.0.0
info:
  title: Bankwest Payment Gateway (REST-JSON)
  version: v51
servers:
- url: https://bankwest.gateway.mastercard.com/api/rest/version/51
security:
- http_basic: []

paths:
  "/information":
    parameters: []
    get:
      security: []
      responses: {}
  "/merchant/{merchantId}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses: {}
  "/merchant/{merchantId}/3DSecureId/{3DSecureId}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: 3DSecureId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutConfiguration":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutDeleteConfiguration":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutWalletStatus":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/balanceInquiry":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    put:
      responses: {}
  "/merchant/{merchantId}/batch":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    put:
      responses: {}
  "/merchant/{merchantId}/checkoutWalletStatus":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/merchantTestHostType":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}/transaction/{transactionid}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    - in: path
      name: transactionid
      required: true
      schema:
        type: string
    get:
      responses: {}
    put:
      responses:
        '400':
          $ref: '#/components/responses/errors'
        '201':
          $ref: '#/components/responses/transactionPut'

  "/merchant/{merchantId}/pair":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses: {}
  "/merchant/{merchantId}/paymentOptionsInquiry":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
  "/merchant/{merchantId}/paymentPlan/{planId}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: planId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/session":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses: {}
  "/merchant/{merchantId}/session/{sessionId}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/token":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses:
        '201':
          description: Created token
          content:
            application/json:
              schema:
                type: object
  "/merchant/{merchantId}/token/{tokenid}":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    - in: path
      name: tokenid
      required: true
      schema:
        type: string
    delete:
      responses: {}
    get:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/tokenSearch":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses:
        '200':
          description: Tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: object
                    properties:
                      token:
                        type: array
                        items:
                          $ref: '#/components/schemas/token'
                  result:
                    type: string
  "/merchant/{merchantId}/visaCheckoutConfiguration":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/visaCheckoutDetails":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletConfiguration":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletOptions":
    parameters:
    - $ref: '#/components/parameters/merchantId'
    post:
      responses: {}

components:
  securitySchemes:
    http_basic:
      type: http
      scheme: basic
      description: Basic HTTP authentication as described at [w3.org](https://www.w3.org/Protocols/HTTP/1.0/spec.html#BasicAA). Provide 'merchant.<your gateway merchant ID>' in the userid portion and your API password in the password portion.
  parameters:
    merchantId:
      in: path
      name: merchantId
      required: true
      schema:
        type: string
  responses:
    errors:
      description: Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
    transactionPut:
      description: Transaction response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/transactionPut'
  schemas:
    errors:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - cause
          properties:
            cause:
              type: string
            explanation:
              type: string
            field:
              type: string
            validationType:
              type: string
        result:
          type: string
    transactionPut:
      type: object
      required:
        - transaction
        - result
      properties:
        authorizationResponse:
          type: object
          properties:
            commercialCardIndicator:
              type: string
            date:
              type: string
            processingCode:
              type: string
            responseCode:
              type: string
            stan:
              type: string
            time:
              type: string
        gatewayEntryPoint:
          type: string
        merchant:
          type: string
        order:
          type: object
          properties:
            amount:
              type: number
            certainty:
              type: string
            chargeback:
              type: object
              properties:
                amount:
                  type: integer
                currency:
                  type: string
            creationTime:
              type: string
              format: date-time
            currency:
              type: string
            custom:
              type: object
              properties:
                pauliePaymentId:
                  type: string
                  format: uuid
                userUuid:
                  type: string
                  format: uuid
            id:
              type: string
              format: uuid
            merchantCategoryCode:
              type: string
            status:
              type: string
            totalAuthorizedAmount:
              type: number
            totalCapturedAmount:
              type: number
            totalRefundedAmount:
              type: number
        response:
          type: object
          properties:
            acquirerCode:
              type: string
            acquirerMessage:
              type: string
            gatewayCode:
              type: string
        result:
          type: string
        sourceOfFunds:
          $ref: '#/components/schemas/sourceOfFunds'
        timeOfRecord:
          type: string
          format: date-time
        transaction:
          type: object
          properties:
            acquirer:
              type: object
              properties:
                batch:
                  type: integer
                date:
                  type: string
                id:
                  type: string
                merchantId:
                  type: string
            amount:
              type: number
            currency:
              type: string
            frequency:
              type: string
            id:
              type: string
              format: uuid
            receipt:
              type: string
            source:
              type: string
            terminal:
              type: string
            type:
              type: string
        version:
          type: string
    token:
      type: object
      properties:
        repositoryId:
          type: string
        sourceOfFunds:
          $ref: '#/components/schemas/sourceOfFunds'
        status:
          type: string
        token:
          type: string
        usage:
          type: object
          properties:
            lastUpdated:
              type: string
              format: date-time
            lastUpdatedBy:
              type: string
            lastUsed:
              type: string
              format: date-time
        verificationStrategy:
          type: string
    sourceOfFunds:
      type: object
      properties:
        provided:
          type: object
          properties:
            card:
              type: object
              properties:
                brand:
                  type: string
                expiry:
                  anyOf:
                    - type: string
                    - type: object
                      properties:
                        month:
                          type: string
                        year:
                          type: string
                fundingMethod:
                  type: string
                issuer:
                  type: string
                number:
                  type: string
                scheme:
                  type: string
                storedOnFile:
                  type: string
        token:
          type: string
        type:
          type: string
