openapi: 3.0.0
info:
  title: Bankwest Payment Gateway (REST-JSON)
  version: v51
servers:
- url: https://bankwest.gateway.mastercard.com/api/rest/version/51
security:
- http_basic: []

paths:
  "/information":
    parameters: []
    get:
      security: []
      responses: {}
  "/merchant/{merchantId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/3DSecureId/{3DSecureId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: 3DSecureId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutDeleteConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/amexExpressCheckoutWalletStatus":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/balanceInquiry":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/batch":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/checkoutWalletStatus":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/merchantTestHostType":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/order/{orderid}/transaction/{transactionid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: orderid
      required: true
      schema:
        type: string
    - in: path
      name: transactionid
      required: true
      schema:
        type: string
    get:
      responses: {}
    put:
      responses:
        '201':
          $ref: '#/components/responses/transactionPut'

  "/merchant/{merchantId}/pair":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/paymentOptionsInquiry":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/paymentPlan/{planId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: planId
      required: true
      schema:
        type: string
    put:
      responses: {}
  "/merchant/{merchantId}/session":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/session/{sessionId}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: sessionId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/token":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}
  "/merchant/{merchantId}/token/{tokenid}":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    - in: path
      name: tokenid
      required: true
      schema:
        type: string
    delete:
      responses: {}
    get:
      responses: {}
    put:
      responses: {}
  "/merchant/{merchantId}/tokenSearch":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
  "/merchant/{merchantId}/visaCheckoutConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/visaCheckoutDetails":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletConfiguration":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    get:
      responses: {}
    post:
      responses: {}
  "/merchant/{merchantId}/walletOptions":
    parameters:
    - in: path
      name: merchantId
      required: true
      schema:
        type: string
    post:
      responses: {}

components:
  securitySchemes:
    http_basic:
      type: http
      scheme: basic
      description: Basic HTTP authentication as described at [w3.org](https://www.w3.org/Protocols/HTTP/1.0/spec.html#BasicAA). Provide 'merchant.<your gateway merchant ID>' in the userid portion and your API password in the password portion.
  responses:
    errors:
      description: Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors'
    transactionPut:
      description: Transaction response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/transactionPut'
  schemas:
    errors:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - cause
          properties:
            cause:
              type: string
            explanation:
              type: string
            field:
              type: string
            validationType:
              type: string
        result:
          type: string
    transactionPut:
      type: object
      properties:
        authorizationResponse:
          type: object
          properties:
            commercialCardIndicator:
              type: string
            date:
              type: string
            processingCode:
              type: string
            responseCode:
              type: string
            stan:
              type: string
            time:
              type: string
        gatewayEntryPoint:
          type: string
        merchant:
          type: string
        order:
          type: object
          properties:
            amount:
              type: number
            certainty:
              type: string
            chargeback:
              type: object
              properties:
                amount:
                  type: integer
                currency:
                  type: string
            creationTime:
              type: string
              format: date-time
            currency:
              type: string
            custom:
              type: object
              properties:
                pauliePaymentId:
                  type: string
                  format: uuid
                userUuid:
                  type: string
                  format: uuid
            id:
              type: string
              format: uuid
            merchantCategoryCode:
              type: string
            status:
              type: string
            totalAuthorizedAmount:
              type: number
            totalCapturedAmount:
              type: number
            totalRefundedAmount:
              type: number
        response:
          type: object
          properties:
            acquirerCode:
              type: string
            acquirerMessage:
              type: string
            gatewayCode:
              type: string
        result:
          type: string
        sourceOfFunds:
          type: object
          properties:
            provided:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    brand:
                      type: string
                    expiry:
                      type: object
                      properties:
                        month:
                          type: string
                        year:
                          type: string
                    fundingMethod:
                      type: string
                    issuer:
                      type: string
                    number:
                      type: string
                    scheme:
                      type: string
                    storedOnFile:
                      type: string
            token:
              type: string
            type:
              type: string
        timeOfRecord:
          type: string
          format: date-time
        transaction:
          type: object
          properties:
            acquirer:
              type: object
              properties:
                batch:
                  type: integer
                date:
                  type: string
                id:
                  type: string
                merchantId:
                  type: string
            amount:
              type: number
            currency:
              type: string
            frequency:
              type: string
            id:
              type: string
              format: uuid
            receipt:
              type: string
            source:
              type: string
            terminal:
              type: string
            type:
              type: string
        version:
          type: string
